
# Deploy to
DEFAULT_NETWORK=
LOCAL_NODE=http://127.0.0.1:<port>
RINKEBY_URL=https://rinkeby.infura.io/v3/1234
RINKEBY_PRIVATE_KEY=0x0

# Verify contact on Etherscan
ETHERSCAN_API_KEY=ABCD1

# Gas consumption & cost
REPORT_GAS_ENABLED=
COINMARKETCAP_API_KEY=abcd

# Code audit
MYTHX_API_KEY=